
.productContainer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.titleProduct {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.titleProduct h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 25px;
  color: #0A0F1F;
  font-weight: 700;
}

.titleProduct p {
  font-size: 1.2rem;
  color: #0A0F1F;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 25px;
  margin: 50px 0;
}

.card_product picture {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card_product picture img {
  width: 90%;
  height: 500px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
}

.card_product {
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.card_product:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card_product h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0A0F1F;
}

.card_product .price {
  font-weight: bold;
  font-weight: 1.3rem;
  margin-top: 30px;
  color: #012363;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_product .button {
  margin-top: 0px;
  margin-bottom: 30px;
  text-decoration: none;
  display: inline-block;
  background-color: #f2f2f2;
  color: #0A0F1F;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.card_product .button:hover {
  background-color: #C6A645;
  color: #f2f2f2;
  transform: translateY(-2px);
}

.card_product .stampNovo {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #C6A645;
  color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 10;
} 

.card_product .stampU {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #b80808;
  color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  z-index: 10;
}

/* Responsividade */

@media (max-width: 768px) {
  .product_img {
    grid-template-columns: 1fr; 
  }

  .card_product picture img {
    height: 600px;
  }

  .titleProduct h2 {
    font-size: 2.5rem;
  }

  .titleProduct p {
    font-size: 1rem;
  }
  
}